---
import { cn } from '@/utils/cn';
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'h2'> {
  id?: string;
}

const { class: className, id, ...props } = Astro.props;

const classes = cn(
  'text-lg font-semibold',
  className
);
---

<h2 class={classes} data-alert-dialog-title id={id} {...props}>
  <slot />
</h2>
