---
import { cn } from '@/utils/cn';
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'div'> {}

const { class: className, ...props } = Astro.props;

const classes = cn(
  'flex flex-wrap gap-2 justify-center lg:justify-end border-t px-6 py-4',
  className
);
---

<div class={classes} {...props}>
  <slot />
</div>
