---
import { cn } from '@/utils/cn';
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'div'> {}

const { class: className, ...props } = Astro.props;

const classes = cn(
  'fixed left-1/2 top-1/2 z-50 grid w-full max-w-sm -translate-x-1/2 -translate-y-1/2 border bg-background shadow-lg rounded-lg text-balance',
  className
);
---

<div
  class={classes}
  data-alert-dialog-content
  role="alertdialog"
  aria-modal="true"
  hidden
  {...props}
>
  <slot />
</div>
