---
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'option'> {
  value: string;
  disabled?: boolean;
  selected?: boolean;
}

const {
  value,
  disabled = false,
  selected = false,
  ...props
} = Astro.props;
---

<option value={value} disabled={disabled} selected={selected} {...props}>
  <slot />
</option>
