---
import { cn } from '@/utils/cn';
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'a'> {
  href: string;
}

const {
  href,
  class: className,
  ...props
} = Astro.props;

const classes = cn('transition-colors hover:text-foreground', className);
---

<a href={href} class={classes} {...props}>
  <slot />
</a>
