---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";
import ChevronRight from "@lucide/astro/icons/chevron-right";

export interface Props extends HTMLAttributes<"li"> {}

const { class: className, ...props } = Astro.props;

const classes = cn("[&>svg]:size-3.5", className);
---

<li role="presentation" aria-hidden="true" class={classes} {...props}>
  <slot>
    <ChevronRight />
  </slot>
</li>
