---
import { cn } from '@/utils/cn';
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'h5'> {}

const { class: className, ...props } = Astro.props;

const classes = cn('font-medium text-foreground leading-none tracking-tight', className);
---

<h5 class={classes} {...props}>
  <slot />
</h5>
