---
import { cn } from '@/utils/cn';
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'span'> {}

const { class: className, ...props } = Astro.props;

const classes = cn(
  'inline-block cursor-pointer',
  className
);
---

<span
  data-command-dialog-trigger
  class={classes}
  role="button"
  tabindex="0"
  {...props}
>
  <slot />
</span>

<script>
  import { ensureUiBootLoaded } from "@/utils/runtime/loader";

  ensureUiBootLoaded();
</script>
