---
import { cn } from '@/utils/cn';
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'div'> {}

const { class: className, ...props } = Astro.props;

const classes = cn(
  'flex h-full w-full flex-col overflow-hidden rounded-lg bg-popover text-popover-foreground',
  className
);
---

<div class={classes} data-command {...props}>
  <slot />
</div>

<script>
  import { ensureUiBootLoaded } from "@/utils/runtime/loader";

  ensureUiBootLoaded();
</script>
