---
import { cn } from '@/utils/cn';
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'div'> {
  id?: string;
}

const { class: className, id, ...props } = Astro.props;

const classes = cn(
  'max-h-[300px] overflow-y-auto overflow-x-hidden',
  className
);
---

<div
  class={classes}
  data-command-list
  role="listbox"
  id={id}
  aria-label="Suggestions"
  {...props}
>
  <slot />
</div>
