---
import { cn } from '@/utils/cn';
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'div'> {
  heading?: string;
}

const { heading, class: className, ...props } = Astro.props;

const classes = cn(
  'overflow-hidden p-1 text-foreground',
  className
);
---

<div class={classes} data-command-group {...props}>
  {heading && (
    <div class="px-2 py-1.5 text-xs font-medium text-muted-foreground">
      {heading}
    </div>
  )}
  <slot />
</div>
