---
import { cn } from '@/utils/cn';
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'div'> {}

const { class: className, ...props } = Astro.props;
---

<div data-command-dialog class={className} {...props}>
  <slot />
</div>

<script>
  import { ensureUiBootLoaded } from "@/utils/runtime/loader";

  ensureUiBootLoaded();
</script>
