---
import { cn } from '@/utils/cn';
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'td'> {}

const { class: className, ...props } = Astro.props;

const classes = cn('p-4 align-middle [&:has([role=checkbox])]:pr-0', className);
---

<td class={classes} {...props}>
  <slot />
</td>
