---
import { cn } from '@/utils/cn';
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'div'> {}

const { class: className, ...props } = Astro.props;

const classes = cn(
  'text-sm font-medium',
  '[[data-state=completed]_&]:text-primary',
  '[[data-state=active]_&]:text-foreground',
  '[[data-state=upcoming]_&]:text-muted-foreground',
  className
);
---

<div class={classes} {...props}>
  <slot />
</div>
