---
import { cn } from '@/utils/cn';
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'div'> {}

const { class: className, ...props } = Astro.props;

const classes = cn(
  'mt-4',
  className
);
---

<div class={classes} data-stepper-content hidden {...props}>
  <slot />
</div>
