---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props;

const classes = cn(
  "flex items-center",
  className
);
---

<div
  class={classes}
  data-otp-group
  role="group"
  {...props}
>
  <slot />
</div>

<style is:global>
  /* Connected slots within a group */
  [data-otp-group] > [data-otp-slot-wrapper]:not(:first-child):not(:last-child) [data-otp-slot] {
    border-radius: 0;
  }

  [data-otp-group] > [data-otp-slot-wrapper]:first-child [data-otp-slot] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  [data-otp-group] > [data-otp-slot-wrapper]:last-child [data-otp-slot] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  [data-otp-group] > [data-otp-slot-wrapper]:not(:first-child) [data-otp-slot] {
    margin-left: -1px;
  }
</style>
