---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";
import Dot from "@lucide/astro/icons/dot";

export interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props;

const classes = cn(
  "flex items-center justify-center text-muted-foreground",
  className
);
---

<div
  class={classes}
  role="separator"
  aria-orientation="vertical"
  data-otp-separator
  {...props}
>
  <slot>
    <Dot class="size-4" />
  </slot>
</div>
