---
import { cn } from '@/utils/cn';
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'div'> {
  orientation?: 'vertical' | 'horizontal' | 'both';
}

const {
  orientation = 'vertical',
  class: className,
  ...props
} = Astro.props;

const overflowStyles = {
  vertical: 'overflow-y-auto overflow-x-hidden',
  horizontal: 'overflow-x-auto overflow-y-hidden',
  both: 'overflow-auto',
};

const classes = cn(
  'relative',
  overflowStyles[orientation],
  '[&::-webkit-scrollbar]:w-2',
  '[&::-webkit-scrollbar-track]:bg-transparent',
  '[&::-webkit-scrollbar-thumb]:bg-border',
  '[&::-webkit-scrollbar-thumb]:rounded-full',
  className
);
---

<div class={classes} {...props}>
  <slot />
</div>
