---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"div"> {
  align?: "start" | "center" | "end";
  sideOffset?: number;
}

const { align = "start", sideOffset = 4, class: className, ...props } = Astro.props;

const alignClasses = {
  start: "left-0",
  center: "left-1/2 -translate-x-1/2",
  end: "right-0",
};

const classes = cn(
  "absolute top-full z-50 min-w-48 overflow-visible rounded-md border bg-popover p-1 text-popover-foreground shadow-md",
  alignClasses[align],
  className
);
---

<div
  class={classes}
  style={`margin-top: ${sideOffset}px`}
  data-menubar-content
  role="menu"
  hidden
  {...props}
>
  <slot />
</div>
