---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"button"> {}

const { class: className, ...props } = Astro.props;

const classes = cn(
  "flex cursor-pointer select-none items-center rounded-sm px-3 py-1 text-sm font-medium outline-none",
  "focus:bg-accent focus:text-accent-foreground",
  "data-[state=open]:bg-accent data-[state=open]:text-accent-foreground",
  className
);
---

<button
  type="button"
  class={classes}
  data-menubar-trigger
  data-state="closed"
  aria-expanded="false"
  aria-haspopup="menu"
  {...props}
>
  <slot />
</button>
