---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"span"> {}

const { class: className, ...props } = Astro.props;

const classes = cn(
  "ml-auto text-xs tracking-widest text-muted-foreground",
  className
);
---

<span class={classes} {...props}>
  <slot />
</span>
