---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"nav"> {}

const { class: className, ...props } = Astro.props;

const classes = cn(
  "mx-auto flex w-full justify-center",
  className
);
---

<nav
  role="navigation"
  aria-label="pagination"
  class={classes}
  {...props}
>
  <slot />
</nav>
