---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";
import ChevronRight from "@lucide/astro/icons/chevron-right";

export interface Props extends HTMLAttributes<"a"> {
  href?: string;
}

const {
  href = "#",
  class: className,
  ...props
} = Astro.props;

const classes = cn(
  "inline-flex items-center justify-center gap-1 pl-4 pr-2.5 h-9 rounded-md text-sm font-medium",
  "transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2",
  "hover:bg-accent hover:text-accent-foreground",
  className
);
---

<a href={href} aria-label="Go to next page" class={classes} {...props}>
  <span><slot>Next</slot></span>
  <ChevronRight class="size-4" />
</a>
