/* Line numbers */
code {
  counter-reset: step;
  counter-increment: step 0;
  white-space: pre;
}

code .line {
  white-space: pre;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 0.5rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: var(--muted-foreground);
  white-space: normal;
}

/* Shiki dual theme support */
code span {
  color: var(--shiki-light);
}

.dark code span {
  color: var(--shiki-dark);
}

/* Shiki Diff Annotations */
.diff.add {
  background-color: oklch(77.7% 0.152 181.912 / 10%) !important;
  border-left: 2px solid #10a380 !important;
}

.diff.remove {
  background-color: oklch(83.3% 0.145 321.434 / 10%) !important;
  border-left: 2px solid #b81ae6 !important;
}

/* Focus annotations */
.focused {
  background-color: rgba(0, 0, 0, 0.05) !important;
  border-left: 2px solid #1585b3 !important;
}

/* Highlighted lines */
.highlighted {
  background-color: rgba(0, 0, 0, 0.02) !important;
}

.dark .focused {
  background-color: rgba(255, 255, 255, 0.05) !important;
  border-left: 2px solid #5cc9f5 !important;
}

.dark .highlighted {
  background-color: rgba(255, 255, 255, 0.02) !important;
}
