---
import { cn } from '@/utils/cn';
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'span'> {}

const { class: className, ...props } = Astro.props;
---

<span
  role="button"
  tabindex="0"
  class={cn("inline-flex cursor-pointer", className)}
  data-dropdown-trigger
  data-state="closed"
  aria-expanded="false"
  aria-haspopup="true"
  {...props}
>
  <slot />
</span>
