---
import { cn } from '@/utils/cn';
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'div'> {
  count: number;
}

const { count, class: className, ...props } = Astro.props;

const classes = cn(
  'flex items-center justify-center gap-1.5 mt-4',
  className
);
---

<div class={classes} data-carousel-dots {...props}>
  {Array.from({ length: count }).map((_, index) => (
    <button
      type="button"
      class="size-2 rounded-full bg-muted transition-colors data-[active]:bg-primary"
      data-carousel-dot
      data-index={index}
      aria-label={`Go to slide ${index + 1}`}
    />
  ))}
</div>
