---
import { cn } from '@/utils/cn';
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'button'> {}

const { class: className, ...props } = Astro.props;

const classes = cn(
  'overflow-hidden rounded-md border-2 border-transparent transition-colors',
  'hover:border-muted-foreground/50',
  'data-[active]:border-primary',
  'focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring',
  className
);
---

<button type="button" class={classes} data-carousel-thumbnail {...props}>
  <slot />
</button>
