---
import { cn } from '@/utils/cn';
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'div'> {
  ratio?: number;
}

const {
  ratio = 16 / 9,
  class: className,
  ...props
} = Astro.props;

const classes = cn('relative w-full', className);
---

<div class={classes} style={`padding-bottom: ${100 / ratio}%`} {...props}>
  <div class="absolute inset-0">
    <slot />
  </div>
</div>
