---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"div"> {
  value?: number;
  max?: number;
}

const { value = 0, max = 100, class: className, ...props } = Astro.props;

const percentage = Math.min(Math.max((value / max) * 100, 0), 100);

const classes = cn(
  "relative h-1 w-full overflow-hidden rounded-full bg-secondary",
  className
);
---

<div
  class={classes}
  role="progressbar"
  aria-valuenow={value}
  aria-valuemin={0}
  aria-valuemax={max}
  {...props}
>
  <div
    class="h-full w-full flex-1 bg-primary transition-all"
    style={`transform: translateX(-${100 - percentage}%)`}
  >
  </div>
</div>
