---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"div"> {
  /**
   * Position of the addon relative to the input
   * - "inline-start": Left side of input (default)
   * - "inline-end": Right side of input
   * - "block-start": Above the textarea
   * - "block-end": Below the textarea
   */
  align?: "inline-start" | "inline-end" | "block-start" | "block-end";
}

const {
  align = "inline-start",
  class: className,
  ...props
} = Astro.props;

const isInline = align === "inline-start" || align === "inline-end";
const isBlock = align === "block-start" || align === "block-end";

const classes = cn(
  "flex items-center gap-1 text-muted-foreground",
  isInline && "px-3",
  isBlock && "px-3 py-2",
  className
);
---

<div
  class={classes}
  data-input-group-addon
  data-align={align}
  {...props}
>
  <slot />
</div>
