---
import { cn } from '@/utils/cn';
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'div'> {}

const { class: className, ...props } = Astro.props;

const classes = cn('flex flex-col-reverse sm:flex-row sm:justify-end sm:space-x-2', className);
---

<div class={classes} {...props}>
  <slot />
</div>
