---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props;

const classes = cn(
  "fixed inset-0 z-50 bg-overlay/10 backdrop-blur-sm transition-opacity",
  className,
);
---

<div class={classes} data-dialog-overlay hidden {...props}></div>
