---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"p"> {
  id?: string;
}

const { class: className, id, ...props } = Astro.props;

const classes = cn("text-sm text-muted-foreground", className);
---

<div class={classes} data-dialog-description id={id} {...props}>
  <slot />
</div>
