---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";
import X from "@lucide/astro/icons/x";

export interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props;

const classes = cn(
  "fixed left-[50%] top-[50%] z-50 grid w-full max-w-lg translate-x-[-50%] translate-y-[-50%] gap-4 border bg-background p-6 shadow-lg duration-200",
  "sm:rounded-lg",
  className
);
---

<div
  class={classes}
  data-dialog-content
  hidden
  role="dialog"
  aria-modal="true"
  {...props}
>
  <slot />
  <button
    type="button"
    class="absolute right-4 top-4 rounded-sm opacity-70 ring-offset-background transition-opacity hover:opacity-100 focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:pointer-events-none"
    data-dialog-close
  >
    <X size={16} />
    <span class="sr-only">Close</span>
  </button>
</div>
