---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"span"> {}

const { class: className, ...props } = Astro.props;

const classes = cn(
  "inline-flex items-center gap-1",
  className
);
---

<span class={classes} {...props}>
  <slot />
</span>
