---
import { cn } from '@/utils/cn';
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'div'> {}

const { class: className, ...props } = Astro.props;

const classes = cn('text-sm opacity-90', className);
---

<div class={classes} {...props}>
  <slot />
</div>
