---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props;

const classes = cn(
  "flex flex-1 flex-col gap-4 overflow-y-auto p-4",
  className
);
---

<div class={classes} data-sidebar-content {...props}>
  <slot />
</div>
