---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props;

const classes = cn(
  "px-2 py-1 text-xs font-medium text-sidebar-foreground/70",
  className
);
---

<div class={classes} data-sidebar-group-label {...props}>
  <slot />
</div>
