---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props;

const classes = cn(
  "flex flex-col gap-1",
  className
);
---

<div class={classes} data-sidebar-group {...props}>
  <slot />
</div>
