---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"li"> {}

const { class: className, ...props } = Astro.props;

const classes = cn("", className);
---

<li class={classes} data-sidebar-menu-item {...props}>
  <slot />
</li>
