---
import DropdownMenu from "@/components/ui/dropdown-menu/DropdownMenu.astro";
import DropdownMenuTrigger from "@/components/ui/dropdown-menu/DropdownMenuTrigger.astro";
import DropdownMenuContent from "@/components/ui/dropdown-menu/DropdownMenuContent.astro";
import DropdownMenuItem from "@/components/ui/dropdown-menu/DropdownMenuItem.astro";
import Check from "@lucide/astro/icons/check";
import { primaryColorOptions } from "../data/primary-colors";
---

<DropdownMenu class="block w-full" keepOpen>
  <DropdownMenuTrigger class="w-full">
    <div
      class="flex items-center gap-2 py-3 px-2 rounded-md hover:bg-accent cursor-pointer transition-colors w-full"
    >
      <div class="bg-muted p-2 rounded">
        <span
          id="primary-color-dot"
          class="block size-4 rounded-full bg-primary"></span>
      </div>
      <div class="text-left">
        <div class="text-xs text-muted-foreground">Primary Color</div>
        <div
          id="primary-color-label"
          class="text-sm font-medium text-foreground"
        >
          Neutral
        </div>
      </div>
    </div>
  </DropdownMenuTrigger>
  <DropdownMenuContent
    side="left"
    class="w-56 max-h-72 overflow-y-auto scrollbar-hide"
  >
    {
      primaryColorOptions.map((color) => (
        <DropdownMenuItem
          data-primary-color={color.value}
          class="justify-between"
        >
          <div class="flex items-center gap-3 text-left">
            <span
              class={`size-4 rounded-full ${color.value === "neutral" ? "bg-neutral-900 dark:bg-neutral-100" : `bg-${color.value}-500`}`}
            />
            <div>
              <div>{color.name}</div>
              {color.subtitle && (
                <div class="text-xs text-muted-foreground">
                  {color.subtitle}
                </div>
              )}
            </div>
          </div>
          <Check class="size-4 opacity-0" data-check />
        </DropdownMenuItem>
      ))
    }
  </DropdownMenuContent>
</DropdownMenu>
