---
import DropdownMenu from "@/components/ui/dropdown-menu/DropdownMenu.astro";
import DropdownMenuTrigger from "@/components/ui/dropdown-menu/DropdownMenuTrigger.astro";
import DropdownMenuContent from "@/components/ui/dropdown-menu/DropdownMenuContent.astro";
import DropdownMenuItem from "@/components/ui/dropdown-menu/DropdownMenuItem.astro";
import Check from "@lucide/astro/icons/check";
import SquareRoundCorner from "@lucide/astro/icons/square-round-corner";
import { radiusOptions } from "../data/radius";
---

<DropdownMenu class="block! w-full" keepOpen>
  <DropdownMenuTrigger class="w-full">
    <div
      class="flex items-center gap-2 py-3 px-2 rounded-md hover:bg-accent cursor-pointer transition-colors w-full"
    >
      <div class="bg-muted p-2 rounded">
        <SquareRoundCorner class="size-4 text-muted-foreground" />
      </div>
      <div class="text-left">
        <div class="text-xs text-muted-foreground">Radius</div>
        <div id="radius-label" class="text-sm font-medium text-foreground">
          Medium
        </div>
      </div>
    </div>
  </DropdownMenuTrigger>
  <DropdownMenuContent side="left" class="w-56">
    {
      radiusOptions.map((opt) => (
        <DropdownMenuItem data-radius={opt.value} class="justify-between">
          <span>{opt.name}</span>
          <Check class="size-4 opacity-0" data-check />
        </DropdownMenuItem>
      ))
    }
  </DropdownMenuContent>
</DropdownMenu>
