---
import DropdownMenu from "@/components/ui/dropdown-menu/DropdownMenu.astro";
import DropdownMenuTrigger from "@/components/ui/dropdown-menu/DropdownMenuTrigger.astro";
import DropdownMenuContent from "@/components/ui/dropdown-menu/DropdownMenuContent.astro";
import DropdownMenuItem from "@/components/ui/dropdown-menu/DropdownMenuItem.astro";
import Check from "@lucide/astro/icons/check";
import Diamond from "@lucide/astro/icons/diamond";
import { styleOptions } from "../data/styles";
---

<DropdownMenu class="block! w-full" keepOpen>
  <DropdownMenuTrigger class="w-full">
    <div
      class="flex items-center gap-2 py-3 px-2 rounded-md hover:bg-accent cursor-pointer transition-colors w-full"
    >
      <div class="bg-muted p-2 rounded">
        <Diamond class="size-4 text-muted-foreground" />
      </div>
      <div class="text-left">
        <div class="text-xs text-muted-foreground">Style</div>
        <div id="style-label" class="text-sm font-medium text-foreground">
          Bearnie
        </div>
      </div>
    </div>
  </DropdownMenuTrigger>
  <DropdownMenuContent side="left" class="w-64">
    {
      styleOptions.map((style) => (
        <DropdownMenuItem
          data-style={style.value}
          class="justify-between py-3 text-left"
        >
          <div>
            <h3 class="font-medium">{style.name}</h3>
            <p class="text-xs text-muted-foreground">{style.description}</p>
          </div>
          <Check class="size-4 opacity-0 shrink-0" data-check />
        </DropdownMenuItem>
      ))
    }
  </DropdownMenuContent>
</DropdownMenu>
