---
interface Props {
  variant?: "standard" | "prose";
  class?: string;
}
const { variant = "standard", class: extraClass = "" } = Astro.props;

const variantClasses = {
  standard: "max-w-screen 2xl:max-w-350 mx-auto px-8 w-full",
  prose:
    "prose max-w-none [&_pre]:bg-muted/50 [&_pre]:rounded-lg [&_pre]:p-4 [&_pre]:overflow-x-auto [&_pre]:text-xs [&_pre]:leading-6 [&_pre_code]:bg-transparent [&_pre_code]:p-0 [&_pre]:scrollbar-hide [&_pre]:text-xs ",
};

const classes = `${variantClasses[variant]} ${extraClass}`.trim();
---

<div class={classes}>
  <slot />
</div>
