---
import Button from "@/components/ui/button/Button.astro";
import Clipboard from "@lucide/astro/icons/clipboard";
---

<Button id="copy-css" variant="outline" size="sm" class="w-full">
  <Clipboard class="size-4" />
  Copy CSS
</Button>
