---
import StyleTool from "./tools/StyleTool.astro";
import BaseColorTool from "./tools/BaseColorTool.astro";
import PrimaryColorTool from "./tools/PrimaryColorTool.astro";
import RadiusTool from "./tools/RadiusTool.astro";
import FontTool from "./tools/FontTool.astro";
import CopyCssButton from "./CopyCssButton.astro";
import CreateProjectButton from "./CreateProjectButton.astro";
import RotateCcw from "@lucide/astro/icons/rotate-ccw";
import RefreshCw from "@lucide/astro/icons/refresh-cw";
---

<div
  id="theme-sidebar"
  class="hidden md:flex lg:w-62 shrink-0 relative flex-col h-full"
>
  <!-- Scrollable Tools Area -->
  <div class="p-4 flex-1 overflow-y-auto scrollbar-overlay">
    <!-- Tools -->
    <StyleTool />
    <BaseColorTool />
    <PrimaryColorTool />
    <FontTool />
    <RadiusTool />

    <!-- Shuffle & Reset -->
    <div class="pt-2">
      <button
        id="shuffle-theme"
        class="flex items-center gap-2 w-full py-3 px-2 rounded-md hover:bg-accent cursor-pointer transition-colors"
      >
        <div class="bg-muted p-2 rounded">
          <RefreshCw class="size-4 text-muted-foreground" />
        </div>
        <div class="text-left">
          <div class="text-xs text-muted-foreground">Shuffle</div>
          <div class="text-sm font-medium text-foreground">Try Random</div>
        </div>
      </button>
      <button
        id="reset-theme"
        class="flex items-center gap-2 w-full py-3 px-2 rounded-md hover:bg-accent cursor-pointer transition-colors"
      >
        <div class="bg-muted p-2 rounded">
          <RotateCcw class="size-4 text-muted-foreground" />
        </div>
        <div class="text-left">
          <div class="text-xs text-muted-foreground">Reset</div>
          <div class="text-sm font-medium text-foreground">Start Over</div>
        </div>
      </button>
    </div>
  </div>

  <!-- Bottom blur fade -->
  <div
    class="pointer-events-none absolute inset-x-0 bottom-20 h-16 bg-linear-to-t from-background via-background/80 to-transparent"
  >
  </div>

  <!-- Fixed Bottom Actions -->
  <div class="space-y-1 relative z-10 p-4">
    <CopyCssButton />
    <CreateProjectButton />
  </div>
</div>
