---
import { cn } from '@/utils/cn';
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'div'> {}

const { class: className, ...props } = Astro.props;

const classes = cn(
  'flex items-center gap-2 rounded-md px-2 py-1.5 text-sm',
  'hover:bg-accent hover:text-accent-foreground',
  'focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring',
  className
);
---

<div class={classes} data-tree-item-content tabindex="0" {...props}>
  <slot />
</div>
