---
import { cn } from '@/utils/cn';
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'li'> {
  defaultOpen?: boolean;
}

const { defaultOpen = false, class: className, ...props } = Astro.props;

const classes = cn(
  'tree-item',
  className
);
---

<li
  class={classes}
  data-tree-item
  data-state={defaultOpen ? 'open' : 'closed'}
  role="treeitem"
  {...props}
>
  <slot />
</li>
