---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"div"> {
  orientation?: "horizontal" | "vertical";
  decorative?: boolean;
}

const {
  orientation = "horizontal",
  decorative = true,
  class: className,
  ...props
} = Astro.props;

const classes = cn(
  "not-prose shrink-0 bg-border",
  orientation === "horizontal" ? "h-[1px] w-full" : "h-full w-[1px]",
  className
);
---

<div
  class={classes}
  role={decorative ? "none" : "separator"}
  aria-orientation={decorative ? undefined : orientation}
  {...props}
>
</div>
