---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props;

const classes = cn(
  "flex flex-col items-center gap-2 sm:flex-row",
  className
);
---

<div class={classes} {...props}>
  <slot />
</div>
