---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"h3"> {}

const { class: className, ...props } = Astro.props;

const classes = cn(
  "text-sm font-medium",
  className
);
---

<h3 class={classes} {...props}>
  <slot />
</h3>
