---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props;

const classes = cn(
  "z-50 min-w-[8rem] overflow-hidden rounded-md border bg-popover p-1 text-popover-foreground shadow-md",
  "animate-in fade-in-0 zoom-in-95",
  className
);
---

<div
  class={classes}
  data-context-menu-content
  role="menu"
  hidden
  {...props}
>
  <slot />
</div>
