---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"span"> {
  size?: "xs" | "sm" | "default" | "lg" | "xl";
}

const { size = "default", class: className, ...props } = Astro.props;

const sizeStyles = {
  xs: "h-7 px-2.5 text-xs",
  sm: "h-8 px-3 text-xs",
  default: "h-9 px-3 text-sm",
  lg: "h-10 px-4 text-base",
  xl: "h-11 px-5 text-lg",
};

const classes = cn(
  "inline-flex items-center justify-center font-medium text-muted-foreground bg-backgorund border border-input rounded-md",
  sizeStyles[size],
  className,
);
---

<span class={classes} {...props}>
  <slot />
</span>
