---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"div"> {
  orientation?: "horizontal" | "vertical";
}

const {
  orientation = "horizontal",
  class: className,
  ...props
} = Astro.props;

const classes = cn(
  "inline-flex",
  orientation === "vertical" ? "flex-col" : "flex-row",
  className
);
---

<div
  role="group"
  class={classes}
  data-orientation={orientation}
  {...props}
>
  <slot />
</div>

<style>
  /* Horizontal orientation - connected buttons */
  [role="group"][data-orientation="horizontal"] > :global(*:not(:first-child):not(:last-child)) {
    border-radius: 0;
  }
  [role="group"][data-orientation="horizontal"] > :global(*:first-child:not(:last-child)) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  [role="group"][data-orientation="horizontal"] > :global(*:last-child:not(:first-child)) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  /* Remove double borders for outline buttons */
  [role="group"][data-orientation="horizontal"] > :global(*:not(:first-child)) {
    margin-left: -1px;
  }

  /* Vertical orientation - connected buttons */
  [role="group"][data-orientation="vertical"] > :global(*:not(:first-child):not(:last-child)) {
    border-radius: 0;
  }
  [role="group"][data-orientation="vertical"] > :global(*:first-child:not(:last-child)) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  [role="group"][data-orientation="vertical"] > :global(*:last-child:not(:first-child)) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  /* Remove double borders for outline buttons */
  [role="group"][data-orientation="vertical"] > :global(*:not(:first-child)) {
    margin-top: -1px;
  }
</style>
