---
import "@/styles/global.css";
import BaseHead from "@/components/fundations/head/BaseHead.astro";
import Navigation from "@/components/global/navigation/Navigation.astro";
import Footer from "@/components/global/Footer.astro";

export interface Props {
  showFooter?: boolean;
  showNavigation?: boolean;
  structuredData?: Record<string, any>;
  bodyClass?: string;
}

const {
  showFooter = true,
  showNavigation = true,
  structuredData,
  bodyClass = "bg-background",
} = Astro.props;
---

<html lang="en" class="scroll-smooth scrollbar-hide">
  <head>
    <BaseHead structuredData={structuredData}>
      <slot name="head" />
    </BaseHead>
  </head>
  <body class={`${bodyClass} text-foreground antialiased flex flex-col min-h-svh`}>
    {showNavigation !== false && <Navigation />}
    <main class="grow"><slot /></main>
    {showFooter !== false && <Footer />}
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="0e07dbc2-4a98-4d81-87e7-ac0a0d408b2d"></script>
  </body>
</html>
