---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<footer>
  <Wrapper class="py-8">
    <div class="max-w-2xl mx-auto text-center">
      <Text tag="p" variant="textSM" class="text-muted-foreground">
        Built by
        <a
          target="_blank"
          rel="noopener noreferrer"
          class="text-foreground hover:text-muted-foreground"
          href="https://x.com/mike_andreuzza">Michael</a
        >
        . Code available on
        <a
          target="_blank"
          rel="noopener noreferrer"
          class="text-foreground hover:text-muted-foreground"
          href="https://github.com/michael-andreuzza/bearnie">GitHub</a
        >
      </Text>
     
    </div>
  </Wrapper>
</footer>
